<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; margin: 0;} </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
<script src="p5.min.js"></script>
    <script src="addons/p5.dom.min.js"></script>
    <script src="addons/p5.sound.min.js"></script>
    <script src="annotation.js"></script>
  </head>
  <body>
  <div>
    <img src="docs/step_0.png"></img>
  </div>
  <div>
    <img src="docs/step_1.png"></img>
  </div>
  <div>
    <img src="docs/step_2.png"></img>
  </div>
  <div>
    <img src="docs/step_3.png"></img>
  </div>
  </body>
</html>
